<!DOCTYPE html>
<html lang="en" xml:lang="en">
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <header>

      <% if current_user %>
        Welcome, <%= current_user.email %>
        <form method="post" action="/sessions">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Sign out">
        </form>
      <% end %>


      <% if flash[:notice] %>
        <div id="notice"><%= flash[:notice] %></div>
      <% end %>

      <% if flash[:errors] && !flash[:errors].empty? %>
        Sorry, there were the following problems with the form.
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %> 
      <% end %>
      
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>