<h1>Submit a new link</h1>
<form action="/links" method="post" class="new-link">
    Url: <input type="text" name="url">
  Title: <input type="text" name="title">
   Tags: <input type="text" name="tags">
  <input type="submit" value="Add link">
</form>